.newRepoBtn{
    background-color: #238636;
    color:white;
    display: flex;
    gap:1em;
    justify-content: center;
}
.newRepoBtn img{
    width:20px;
}
.repoFiltersWrapper{
    margin:1em 0;
}

@media screen and (min-width:768px) {
    .manageReposWrapper{
        display:flex;
        flex-direction: row-reverse;
        align-items: center;
        gap:2em;
    }
    .repoFiltersWrapper{
        width:100%;
    }
    .newRepoBtn{
        width:100px;
        height: auto;
        align-items: center;
    }
}