.userNavWrapper {
  display: flex;
  justify-content: center;
}
.userNavWrapper ul {
  display: flex;
  list-style: none;
  padding: 0.5em 0;
  overflow: auto;
}
.userNavWrapper li {
  padding: 0.5em;
}
.userNavWrapper a:hover {
  background-color: #2e3642;
}
.userNavWrapper li.selected {
  border-bottom: 2px solid #f78166;
}
.userNavWrapper a {
  padding: 0.5em;
  cursor: pointer;
  border-radius: 1em;
  text-decoration: none;
}
.userNavWrapper a:visited {
  color: inherit;
}
